{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title_tag %}Forgot Your Password? | {{ block.super }}{% endblock %}

{% block body_content %}
<div class="container">
  <h1>Forgot your password?</h1>
  <p>Enter the email address associated with your account, and we'll send you instructions on how you can reset your password.</p>
  <form method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-default" type="submit" value="Reset password">
  </form>
</div>
{% endblock %}