{% load static %}
{% load course_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    {% block css %}{% endblock %}
  </head>
  <body>
    <div class="site-container">
      <div>{% nav_courses_list %}</div>
      <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'courses:list' %}">Courses</a>
      </nav>
      <form action="{% url 'courses:search' %}" method="GET">
        <ul>
          <li><input type="search" name="q"></li>
          <li><button type="button">Search</button></li>
        </ul>
      </form>
      <p>Don't miss our latest course: {% newest_course %}</p>
      {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/vendor/jquery-2.1.4.min.js' %}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
