{% extends "layout.html" %}
<!-- Load app-specific static files -->
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'courses/css/courses.css' %}">
{% endblock %}

{% block title %}Courses{% endblock %}

{% block content %}
  <h1>Courses</h1>
  <p>Total number of quizzes and steps: {{ total.total }}</p>
  <div class="cards">
    {% for course in courses %}
    <div class="card">
      <header>
        <a href="{% url 'courses:detail' pk=course.pk %}">{{ course.title }}</a>
      </header>

      <div class="card-copy">
        {% with description=course.description %}
          {% if description|wordcount <= 5 %}
            {{ description|linebreaks }}
          {% else %}
            {{ description|linebreaks|truncatewords:5 }}
            <a href="{% url 'courses:detail' pk=course.pk %}">Read More</a>
          {% endif %}
          {% if course.total_steps %}
            <p><strong>Steps:</strong> {{ course.total_steps }}</p>
          {% endif %}
          <div>Created on: {{ course.created_at|date:'F j, Y' }}</div>
        {% endwith %}
      </div>
    </div>
    {% endfor %}

    <div>Have questions? Contact us: {{ email|urlize }}</div>
  </div>
{% endblock %}
