{% extends "layout.html" %}
{% load humanize course_extras %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
  <article>
    <h2>{{ course.title }}</h2>
    {{ course.description|markdown_to_html }}

    <p>
      There {{ course.step_set.count|pluralize:'is,are' }} {{ course.step_set.count|apnumber }} step{{ course.step_set.count|pluralize }} in this course: {{ course.step_set.all|join:', ' }}
    </p>

    <section>
      <!-- `step_set` is a query set that can be queried against
        for `all` Step records belonging to the Course -->
      {% for step in course.step_set.all %}
        <h3>
          <a href="{% url 'courses:step' course_pk=step.course.pk step_pk=step.pk %}">{{ step.title }}</a>
        </h3>
        {{ step.description|linebreaks }}
      {% endfor %}
    </section>
  </article>
{% endblock %}
